div:hover {
    border: 3px solid darkcyan;
}

#primaria {
    color: red;
}

#secundaria {
    color: orange;
}

#complementar {
    color: green;
}

#escura {
    color: indigo;
}

#clara {
    color: hotpink;
}

#cor1 {
    font-family: 'Courier New', Courier, monospace;
}

#cor2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cor3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

#cor4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#cor5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

body>h3:nth-child(odd){
    font-style: italic;
}